*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
nav{
    width: 100%;
    height: 55px;
    line-height: 50px;
    padding: 2px,100px;
    position: fixed0;
    background-image: linear-gradient(rgb(28, 28, 28),white);

}
label.logo{
    font-size: 30px;
    font-weight: bold;
    float: left 25px;;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;

}
.navgiation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 4px;
    transition: 5s;
}
.navgiation .btnLogin-popup:hover{
    background: #fff;
    color: gray;
}